@import '../styles/global.scss';

.contact-prompt-section {
  padding: 10px;
  text-align: start;
  justify-content: space-between;

  .contact-prompt-content {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    flex-direction: column;
    row-gap: 20px;

    h2 {
      font-size: 2.2rem;
      font-weight: 400;
      margin-bottom: 20px;
    }

    p {
      line-height: 1.8;
      color: #555;
      margin-bottom: 30px;
      font-size: 1.1rem;
    }

    .contact-prompt-cta {
      background-color: $primary-color;
      color: white;
      border: none;
      padding: 15px 30px;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}

@media (max-width: 900px) {
  .contact-prompt-section {
    padding: 40px 20px;
  }
}
