@import '../styles/global.scss';

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.partners-section {
    padding: 30px 0;
    background-color: #e9ecef;
    display: flex;
    align-items: center;

    .partners-slider {
      width: 100%;
      overflow: hidden;
      position: relative;
      -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
      mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);

      &:hover .partners-slide-track {
        animation-play-state: paused;
      }
    }

    .partners-slide-track {
      display: flex;
      width: calc(200px * 14);
      animation: scroll 30s linear infinite;
    }

    .partner-slide {
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 25px;

      img {
        max-width: 150px;
        filter: grayscale(100%);
        opacity: 0.7;
        transition: all 0.3s ease;

        &:hover {
          filter: grayscale(0%);
          opacity: 1;
        }
      }
    }
}
