$primary-color: #0072bc;
$alt-bg-color: #e9ecef;
$text-color: #333;
$light-text-color: #555;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
}
